
html{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.header {
    z-index: 5500;
    width: 100%;
    background-color: white;
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}
.site-logo{
    margin-left: 2vw;
}
.nav-item-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 3vw;
    margin-right: 3vw;
}
.lang-icon{
    width: 4vw;
}
.ham-menu{
    display: flex;
    height: 3vh;
}
.wrapper{
    position: fixed;
    top:0;
    z-index: 5000;
    right: -100%;
    height: 100%;
    width: 100%;
    background: white;
    transition: all 0.6s ease-in-out;
}

#active:checked ~ .wrapper{
    right: 0vw;
}
.menu-btn{
    position: relative;
    width: 2vw;
    background-image: url("src/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5001;

    font-size: 20px;
    cursor: pointer;
}
.close{
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}
.wrapper ul{
    position: relative;

    z-index: 5000;
    top: 60%;
    left:50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li a{
    position: relative;
    text-shadow: 7.73px 12.8px 29px rgba(82, 123, 205, 0.6);
    z-index: 50000;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-size: 3em;
}
.wrapper ul li a:hover{
    text-shadow: 7.73px 12.8px 29px rgba(82, 123, 205, 0.5);
    color: black;
    text-decoration: none;
}
input[type="checkbox"]{
    display: none;
}

.nav-list{
    margin-top: -5vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;

}
.nav-item-site-logo{
    height: 5vh;
    margin-bottom: 5vh;
}






.container{
    font-family: "Poppins", sans-serif;
    position:relative;

    margin-left: 6vw;
    width:88vw;
    height: 80vh;
    border-style: solid;
    border-color: transparent;



}

.home{

}
.home .title{

    margin-left: 28.8vw;
    margin-top: 50vh;
    font-size: 1.35vw;
    letter-spacing: -0.1vw;

}
.home .bg-text::after {
    text-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    display: block;
    font-size: 12vw;
    position: absolute;
    top: 20vh;
    left: 2vw;


}


.about{

}
.about .bg-text::after {
    text-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    display: block;
    font-size: 12vw;
    letter-spacing: -1vw;
    position: absolute;
    top: 25%;
    left: 30%;


}
.about-text-container{
    display: flex;
    align-items: center;
    margin-left: 12vw;
    margin-right: 45vw;
    font-size: 1.2vw;
    font-weight: 500;
    position: absolute;
    height: 80vh;
}

.development{

}
.development .bg-text::after {
    text-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    display: block;
    font-size: 13.5vw;
    position: absolute;
    top: 38%;
    left: -10%;



}
.development .gridContainer {
    padding-top:2vh;
    padding-right: 2vw;
    min-height: 40vh;
    margin-left: 25vw;
    display: grid;
    row-gap: 1vw;
    column-gap: 2vh;
    grid-template-columns: auto auto auto auto;
}
.development .grid-item {

    font-size: 0.7vw;
    padding-left: 1vw;
    display: flex;
    gap: 1vw;
    height: 6.5vh;
    width: 13vw;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.3);
}
.development .grid-item img{
    width: 1.8vw;
}
.development .textContainer {
    font-size: 1vw;
    margin-left: 18vw;
    margin-right: 40vw;
    font-family: "Poppins", sans-serif;

}
.development .textContainer h2{
    font-size: 2vw;
    margin-right: 4vw;
    line-height: 2vw;
    font-family: "Poppins", sans-serif;

}
.development .textContainer p{
    margin-top: -2vh;
    font-weight: 500;
    font-size: 0.7vw;
    font-family: "Poppins", sans-serif;

}


.venturecapital{
}
.venturecapital .topContainer{
    display: flex;
    flex-direction: row;
    height: 15vh;
}
.venturecapital .topContainer .topContainerCursor{
    display: flex;
    flex-direction: column;
    width: 5vw;
    text-align: right;
    font-weight: bold;

}
.venturecapital .topContainer .topContainerList{
    height: 15vh;

    display: flex;
    flex-direction: column;
}
.venturecapital .slideContainer{
    height: 20vh;
    position: relative;
    margin: auto;

}
.venturecapital .slides{
    height: 20vh;
}
.venturecapital .columnContainer {
    display: flex;
    flex-direction: row;
    height: 20vh;
    flex-wrap: nowrap;
    align-content: center;
    margin-right: 10vw;
    margin-left: 10vw;
}
.column {
    height: 20vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    font-weight: 500;
    border-radius: 20px;

}

.column-gap{
    height: 20vh;
    display: flex;
    background-image: url("src/right-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1vw;
    flex-direction: column;
    align-content: center;
}

.stage{
    color: #ce8f18;
    position: absolute;
    bottom: 0;
    font-size: 0.9vw;

}
.stage-text{
    margin-top: 6vh;
    font-size: 0.9vw;
    font-weight: 500;
}
.column-bg-text::after {
    text-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    font-size: 14vw;
    position: absolute;
    margin-top: -12vh;
    display: flex;
    margin-left: 2vw;



}
.venturecapital .bottomContainer{
    align-items: center;
    display: flex;
    height: 45vh;


}
.venturecapital .bottomContainer .textContainer{
    margin-top: 10vh;
    margin-left: 14.5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.venturecapital .bottomContainer .textContainer h1{

    font-size: 2.5vw;
    line-height: 3vw;
    margin-right: 50vw;
}
.venturecapital .bottomContainer .textContainer h3{
    margin-top: -3vh;
    font-size: 1.75vw;
    margin-right: 45vw;
}
.venturecapital .bottomContainer .textContainer h4{
    margin-top: -3vh;
    font-weight: 500;
    font-size: 0.7vw;
    margin-right: 45vw;
}
.venturecapital .ventureCapital-bg-text::after {
    text-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    display: block;
    font-size: 14.6vw;
    position: absolute;
    letter-spacing: -1vw;
    top: 35%;
    left: -10%;



}



.team{


}

.teamlist{
    height: 80vh;
    margin-left: 35vw;
    display: flex;
    flex-direction: row;
}
.teamlist   .list{
    margin-top:5vh;
    margin-bottom:5vh;
    height: 70vh;
    flex:1;
    display: flex;
    flex-direction: column;
}
.teamlist .list .member{
    flex:1;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 1vw;
}
.team .profile-container{
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 30vh;

}
.team .profile-container .profile-gap{
    width: 25vw;
}
.team .profile-picture{
    display: flex;
    width: 10vh;
    height: 10vh;
    background: wheat;
    border-radius: 50%;
    border-width: 0.2vw;
    border-style: solid;
    border-color:#ce8f18;
    box-shadow: 30px 50px 62px rgba(82, 123, 205, 0.3);
}
.team .profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.team .job-type{
    font-weight: lighter;
    color:#ce8f18;
    bottom: 0;
}
.team  .name{
    margin-top: -1vw;
    font-size: 2vw;
    font-weight: bolder;
}
.team .bg-text::after {
    text-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    display: block;
    font-size: 15vw;
    position: absolute;
    letter-spacing: -1vw;
    top: 10%;
    left: -10%;



}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contact .contact-info-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contact .contact-info-container .contact-info-text{
    margin-left: 15vw;
}
.contact .contact-card-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.contact .contact-card-container .card-item{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    color: BLACK;
    max-height: 3vh;
    min-height: 3vh;
    max-width: 13vw;
    min-width: 13vw;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;

}
.contact .contact-card-container .msg{
    max-height: 30vh;
    min-height: 10vh;
    max-width: 13vw;
    min-width: 13vw;
    font-family: "Poppins", sans-serif;
    font-size: 0.8vw;

}
.contact .contact-card-container .submit{
    border: white;
    background-color: white;
    box-shadow: 10px 10px 30px #DDDDDD;

}
.contact .contact-card-container .submit:hover{
    border: white;
    background-color: white;
    box-shadow: 10px 10px 50px #ce8f18;;


}
.contact .bg-text::after {
    text-shadow: 33.4px 55.7px 62px rgba(82, 123, 205, 0.4);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    display: block;
    font-size: 15vw;
    position: absolute;
    letter-spacing: -1vw;
    top: 20%;
    left: -10%;



}




.footer{
    position: fixed;
    width: 99vw;
    height: 9vh;
    bottom: 0;

    background: white;
    margin-left: -0.4vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.footer .mouse-icon{
    width: 1.5vw;
    margin-right: 8vw;
}
.footer .copy\&social-container{
    margin-left: 5vw;
}
.footer .mail-elements-container{
    margin-right: 5vw;
    display: flex;
    flex-direction: row;
    gap: 0.7vw;
}
.footer .email-icon-container{
    border-radius: 50%;
    background-color: white;
    box-shadow: 8.76px 14.5px 51px rgba(82, 123, 205, 0.45);
    height: 2vw;
    width: 2vw;
    text-align: center;
}
.fa-envelope{
    color: #ce8f18;
}
.footer .copy\&social-container .social{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.footer .copy\&social-container .social-icon{
    color:black;
}
.footer .copy\&social-container .copyright{
    margin-top: -0.5vh;
    color: lightgray;
}



/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 45%;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    width: 3vw;
    height: 3vw;
}
/* Position the "next button" to the right */
.prev{
    visibility: hidden;
}
.next {
    background-color: white;
    background-image: url("src/right-arrow.svg");
    background-repeat: no-repeat;
    background-size: 1vw;
    background-position: center;

    right: 0;
    margin-right: 2vw;
    border-radius: 50%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    box-shadow: 0px 0px 62px rgba(82, 123, 205, 0.3);
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: gray;
}
.arrow{
    cursor: pointer;
    margin: 0 2px;
    transition: background-color 0.6s ease;
    color: transparent;

}
.activex, .arrow:hover {

    font-weight: 700;
    color: #ce8f18;
    display: block;

}
.active, .dot:hover {

    text-decoration: underline;
    font-weight: bolder;
    color: black;
}
/* Fading animation */
.fade {
    animation-name: slide;
    animation-duration: 1.5s;
}
@keyframes slide {
    from {
        transform: translateX(+100%);
    }
    to {
        transform: translateX(0%);
    }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}




