
body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    padding: 0;

}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
.header {
    z-index: 5000;
    width: 100%;
    background-color: white;
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}
.nav-item-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-right: 5vw;
    gap:2vw;
}
.lang-icon{
width: 5vw;
}
.ham-menu{
    display: flex;
    height: 3vh;
}
.wrapper{
    position: fixed;
    top:0;
    margin-top: -100px;
    z-index: 5000;
    right: -100%;
    height: 110%;
    width: 100%;
    background: white;
    transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
    right: 0;
}
.menu-btn{
    position: relative;
    width: 3vw;
    background-image: url("src/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5001;

    font-size: 20px;
    cursor: pointer;
}
.menu-btn:before{
    transform: translateY(-8px);
}
.menu-btn:after{
    transform: translateY(8px);
}
.close{
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

.wrapper ul{
    position: relative;

    z-index: 5000;
    top: 60%;
    left:50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li a{
    position: relative;
    text-shadow: 1px 1px 30px darkblue;
    z-index: 50000;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 3em;
}
.wrapper ul li a:hover{
    text-shadow: 1px 1px 30px darkblue;
    color: black;
    text-decoration: none;
}

input[type="checkbox"]{
    display: none;
}
.nav-list{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;

}
.nav-item-site-logo{
    height: 5vh;
    margin-bottom: 5vh;
}

h1 {
    font-size: 50px;
}

.bg-text {
    background-color: #ffffff;
    position: relative;
    font-size: 12vw;
    text-shadow: 10px 10px 30px #a9bfe5;
    font-family: "Poppins", sans-serif;
}

.bg-text::after {
    text-shadow: 10px 10px 30px #a9bfe5;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    z-index: -10;
    color: white;
    content: attr(data-bg-text);
    display: block;
    font-size: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.CSSgal {
    color: black;
    width: 100%;
}

/* SLIDER */

.CSSgal .slider {
    height: 80%;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    transition: 0.8s;
    z-index: -100;
}


.CSSgal .slider>* {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;

}

#container{
    margin-bottom: 500px;
}

.slides{
    display: table-row;
    border-style: solid;
}







.CSSgal .slider .slide1 h1 {
    margin-left: auto;
    padding-right: 8vw;
    margin-top: 60vh;
    letter-spacing: -0.06em;
    font-size: 3vw;
}

.CSSgal .slider .slides{
    height: 75vh;


}


.CSSgal {
    position: relative;
    height: 100%;
    border-style: dashed;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    /* Or set a fixed height */
}

.CSSgal .slider .slide2-text{

    display: flex;
    height: 75vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-right: 50%;
    margin-left: 20%;
}

.CSSgal .slider .slide3 .gridContainer {
    min-height: 30vh;
    margin-left: 30%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    margin-bottom: 20vh;
}
.CSSgal .slider .slide3 .grid-item {
    padding-left: 5px;
    display: flex;
    border-radius: 5px;
    gap:5px;
    align-items: center;
    align-content: center;

    width: 15vw;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 30px #a9bfe5;
}
.CSSgal .slider .slide3 .textContainer {
    min-height: 40vh;
    display: flex;
    font-family: "Calibri", sans-serif;
    margin: 10% 40% 40% 10%;
    flex-direction: column;

}
.CSSgal .slider .slide3 h1 {
    display: flex;
    font-weight: 5000;
    line-height: 50px;
    margin-top: -50px;
    letter-spacing: -0.06em;
    font-size: 2.5vw;
}
.CSSgal .slider .slide3 p {
    display: flex;
    line-height: 30px;
    font-weight: 500;
    font-size: 1.4vw;
}

.CSSgal .slider .slide4 .listContainer {
    min-height: 13vh;
    padding-left: 5vw;
    padding-top: 5vh;
}
.CSSgal .slider .slide4 .listContainer p{

    font-weight: 5000;
}
.CSSgal .slider .slide4 .columnContainer {
    min-height: 10vh;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
}
.CSSgal .slider .slide4 .column {
    flex: 30%;
    border-radius: 20px;
}
.CSSgal .slider .slide4 .column h1 {
    font-weight: 500;
    letter-spacing: -0.06em;
    font-size: 1.2vw;
}
.CSSgal .slider .slide4 .column h2 {
    align-self: flex-end;
    font-weight: 500;
    letter-spacing: -0.06em;
    font-size: 1.2vw;
    color: #ce8f18;
}
.CSSgal .slider .slide4 .columnSpace {

    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2vw;
    text-align: center;
    font-family: "Calibri", sans-serif;
}
.CSSgal .slider .slide4 .bottomContainer {
    display: flex;
    border-style: solid;
}
.CSSgal .slider .slide4 .textContainer {
    display: flex;
    font-family: "Calibri", sans-serif;
    margin-top: 3%;
    margin-right: 40%;
    margin-left: 10%;
    margin-bottom: 40%;
    flex-direction: column;
}
.CSSgal .slider .slide4 .textContainer h1 {
    font-weight: bolder;
    font-size: 3vw;
}
.CSSgal .slider .slide4 .textContainer h2 {
    font-weight: bolder;
    font-size: 2.5vw;
}
.CSSgal .slider .slide4 .textContainer p {
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 2vw;
}


.CSSgal .slider .slide5 .listContainer {
    min-height: 13vh;
    padding-left: 5vw;
    padding-top: 5vh;
}
.CSSgal .slider .slide5 .listContainer p{

    font-weight: 5000;
}
.CSSgal .slider .slide5 .columnContainer {
    box-sizing: border-box;
    min-height: 10vh;
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
}
.CSSgal .slider .slide5 .column {
    flex: 30%;
    justify-content: space-between;
    border-radius: 20px;
}
.CSSgal .slider .slide5 .column h1 {
    font-weight: 500;
    letter-spacing: -0.06em;
    font-size: 1.2vw;
}
.CSSgal .slider .slide5 .column h2 {
    align-self: flex-end;
    font-weight: 500;
    letter-spacing: -0.06em;
    font-size: 1.2vw;
    color: #ce8f18;
    margin-bottom: auto;
}
.CSSgal .slider .slide5 .columnSpace {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2vw;
    text-align: center;
    font-family: "Calibri", sans-serif;
}
.CSSgal .slider .slide5 .bottomContainer {
    display: flex;
    border-style: solid;
}
.CSSgal .slider .slide5 .textContainer {
    display: flex;
    font-family: "Calibri", sans-serif;
    margin-top: 3%;
    margin-right: 40%;
    margin-left: 10%;
    margin-bottom: 40%;
    flex-direction: column;
}
.CSSgal .slider .slide5 .textContainer h1 {
    font-weight: bolder;
    font-size: 3vw;
}
.CSSgal .slider .slide5 .textContainer h2 {
    font-weight: bolder;
    font-size: 2.5vw;
}
.CSSgal .slider .slide5 .textContainer p {
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 2vw;
}

.CSSgal .slider .slide6 .listContainer {
    min-height: 13vh;
    padding-left: 5vw;
    padding-top: 5vh;
}
.CSSgal .slider .slide6 .listContainer p{

    font-weight: 5000;
}
.CSSgal .slider .slide6 .columnContainer {
    min-height: 10vh;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
}
.CSSgal .slider .slide6 .column {
    flex: 30%;
    border-radius: 20px;
}
.CSSgal .slider .slide6 .column h1 {
    font-weight: 500;
    letter-spacing: -0.06em;
    font-size: 1.2vw;
}
.CSSgal .slider .slide6 .column h2 {
    align-self: flex-end;
    font-weight: 500;
    letter-spacing: -0.06em;
    font-size: 1.2vw;
    color: #ce8f18;
}
.CSSgal .slider .slide6 .columnSpace {

    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2vw;
    text-align: center;
    font-family: "Calibri", sans-serif;
}
.CSSgal .slider .slide6 .bottomContainer {
    display: flex;
    border-style: solid;
}
.CSSgal .slider .slide6 .textContainer {
    display: flex;
    font-family: "Calibri", sans-serif;
    margin-top: 3%;
    margin-right: 40%;
    margin-left: 10%;
    margin-bottom: 40%;
    flex-direction: column;
}
.CSSgal .slider .slide6 .textContainer h1 {
    font-weight: bolder;
    font-size: 3vw;
}
.CSSgal .slider .slide6 .textContainer h2 {
    font-weight: bolder;
    font-size: 2.5vw;
}
.CSSgal .slider .slide6 .textContainer p {
    font-family: "Calibri", sans-serif;
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 2vw;
}


.CSSgal .slider .slide7 .profile-container{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20vh;

}
.CSSgal .slider .slide7 .profile-container .profile-gap{
    width: 25vw;
}
.CSSgal .slider .slide7 .profile-container .profile-picture{
    display: inline-block;
    height: 200px;
    background:black;
    width: 200px;
    min-width: 20px;

    box-sizing: content-box;
    min-height: 20px;
    border-radius: 50%;
    border-width: 5px;
    margin: 0;
    border-color:#ce8f18;
}
.CSSgal .slider .slide7 .profile-container .profile{
    padding-left: 2vw;
    width: 25vw;
    display: flex;
    flex-direction: column;

}
.CSSgal .slider .slide7 .profile-container .job-type{
    font-size: 15px;
    font-weight: lighter;
    color:#ce8f18;
    display: flex;
    height: 5vh;
}
.CSSgal .slider .slide7 .profile-container .name{
    font-weight: bolder;
    font-size: 3vh;
    text-align: center;
    align-items: center;
    height: 5vh;
    display: flex;
}


.CSSgal .slider .slide8 .contact-container{
    display: flex;

    width: 100%;
    margin-top:10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CSSgal .slider .slide8 .contact-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:10%;
    margin-right: 10%;
    width: 50%;
    height: 100%;

}
.CSSgal .slider .slide8 .contact-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:10%;
    margin-right: 10%;
    width: 50%;
    height: 100%;

}
.CSSgal .slider .slide8 .contact-card-container .card-item{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #DDDDDD;
    color: BLACK;
    width: 250px;
    height: 30px;
    padding-left: 10px;

}
.CSSgal .slider .slide8 .contact-card-container .msg{
    height: 15vh;
    padding-bottom: 80px;

}
.CSSgal .slider .slide8 .contact-card-container .submit{
    border: white;
    background-color: white;
    box-shadow: 10px 10px 30px #DDDDDD;

}
.CSSgal .slider .slide8 .contact-card-container .submit:hover{
    border: white;
    background-color: white;
    box-shadow: 10px 10px 50px #ce8f18;;


}




.footer{
    position: absolute;
    z-index: 5000;
    top:90%;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}
.footer .copy\&social-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;

    width: 20vh;
}
.footer .copy\&social-container .social{
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center ;

}
.footer .copy\&social-container .social-icon{
    color:black;


}
.footer .copy\&social-container .copyright{
    height: 3vh;
    text-align: center;

}
.footer .mouse-icon-container{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .mouse-icon-container .mouse-icon{
    height: 8vh;
    border-width: 0.5vh;
}
.footer .mail-elements-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
    width: 20vh;

}
.footer .mail-elements-container .email-icon-container{
    width: 10vh;
    height: 8vh;
    background-image: url("src/Mail.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-self: center;

    vertical-align: middle;

}
.footer .mail-elements-container .email-icon{
    vertical-align: center;
    width: 8vh;
}
.footer .mail-elements-container .email-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
}
@media screen and (max-width: 700px) {

    .footer .mouse-icon-container{
       display: none;
    }
    .footer .mail-elements-container .email-icon-container{
        display: none;

    }
    *{
        margin:0;
    }

}


